@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<p>
    <h4>Assumptions</h4>
    <ul>
        <li>Common Title Names being used for movies. These have been used for indexing data</li>
        <li>Validation of data has already be performed</li>
        <li>Data does not decay in quality over time</li>
        <li>Amount of data will grow over time</li>
    </ul>
</p>

<p>
    <h4>Thoughts</h4>
    <ul>
        <li>Website speed improves as local data becomes more complete. future item would be to allow for local data to be refreshed after X amount of time</li>
        <li>Future possiblities could be could be convert to allow for quantity and linking to purchase</li>
        <li>Would like to improve load times by threading Api calls. </li>
    </ul>
</p>
